body {
	margin: 0;
	background-color: #1E1E1E;
	overflow: hidden;
	// font-family: avenir;
	font-family: 'Montserrat', sans-serif;

	button.svg-button {
		background-color: rgba(0,0,0,0);
		z-index: 0;

		&.back-button {
			width: 35px;
			margin: 15px;
		}

		&:hover {
			transform: scale(1.05);
			svg {
				color: #2ebd59;
			}
		}

		outline: none !important;
		border: none !important;
	}


	a.main-controls {
		color: white;
		position: relative;
		padding: 10px;

		&:hover {
			color: rgba(46,189,89,0.7);
		}

		&.active {
			color: #2ebd59;
			&:before {
				// -webkit-transform: scaleX(0.7);
				// transform: scaleX(0.7);
				// visibility: visible;
			}
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1.5px;
			bottom: 0;
			left: 0;
			background-color: white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}

		&:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(0.7);
			transform: scaleX(0.7);
		}
	}

	svg {
		color: #A0A0A0;

		&:hover {
			stroke-width: 1;
			stroke: #2ebd59;
		}
	}
}

::-webkit-scrollbar {
		display: none;
}

div {
	display: flex;
	align-items: start;
}

.root {
	position: absolute;
}

@-moz-document url-prefix() {
	div.tracks-area {
		width: 102% !important;
	}
}

.visualizer-container {
	background-color: rgba(30, 30, 30, 0.8);
	position: fixed;
	height: 100vh;
	width: 40vw;
	top: 0;
	left: 100vw;
	transition: left ease-out .75s;
	border: thin solid #A0A0A0;

	&.active {
		left: 80%;
	}

	div.tracks-area {
		font-size: 0.8em;
		top: 10%;
		position: absolute;
		width: 100%;
		height: 45%;
		display: flex;
		flex-direction: row;
		border-top: thin solid #A0A0A0;
		border-bottom: thin solid #A0A0A0;
		color: white;
		font-weight: 50;
		overflow-y: scroll;
		overflow-x: hidden;

		.playlists-container {
			text-align: center;
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 50%;
			transition: left 0.5s;

			h1 {
				margin: 20px auto;
			}

			&.inactive {
				left: -100%;
				// animation: slideLeftOut 0.5s 1;
				// animation-fill-mode: forwards;

				.playlist {
					// border-right: none;
				}
			}

			.playlist {
				width: 90%;
				height: 100%;
				padding-left: 10%;
				border: thin solid #A0A0A0;
				line-height: 50px;
				overflow: hidden;

				&:hover {
					opacity: 0.8;
					// font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

		.songs-container {
			width: 50%;
			left: 50%;
			position: absolute;
			display: flex;
			flex-direction: column;
			transition: left 0.5s ease;

			div.is-playing {
				color: #2ebd59;
			}

			&.active {
				left: 0%;
				// animation: slideLeftIn 0.5s 1;
				// animation-fill-mode: forwards;
			}

			.playlist {
				width: 90%;
				height: 50px;
				padding-left: 10%;
				border: thin solid #A0A0A0;
				line-height: 50px;
				overflow: hidden;
				color: white;


				&:hover {
					opacity: 0.8;
					// font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

	}

	.spotify-controls {
		position: absolute;
		width: 50%;
		height: 45%;
		top: 55%;

		button.music-controls {
			width: 75px;
			height: 75px;
			background-color: rgba(0,0,0,0);
			padding: 0;
			border: 0;
			margin: 1px;

			&:hover {
				svg {
					color: #2ebd59;
				}
			}
		}

		div.buttons-container {
			position: absolute;
			top: 72%;
			left: 10%;
		}
	}

	.top-bar {
		height: 10%;
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: center;

		a {
			color: white;
			padding: 20px;

			&:hover {
				color: #2ebd59;
			}
		}

		button {
			// flex: 1;
			width: 10%;
			padding: 0;
			border: 0;
			margin: 1px;

			svg {
				visibility: visible;
			}
		}
	}

	div.progress-background {
		position: absolute;
		border-radius: 2px;
		width: 80%;
		height: 4px;
		top: 68%;
		left: 10%;
		background-color: #404040;

		&:hover {
			div#progress-bar {
				background-color: #2ebd59;
			}

			div#selector {
				visibility: visible;
			}
		}

		input.invisible-slider {
			z-index: 5;
			width: 100%;
			height: 4px;
			opacity: 0;
			position: absolute;
		}

		div#selector {
			z-index: 3;
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: white;
			top: -3px;
			visibility: hidden;
		}

		div#progress-bar {
			z-index: 2;
			border-radius: 2px;
			height: 4px;
			background-color: #A0A0A0;
		}
	}

}

img.album-artwork {
	z-index: -1;
	padding-top: 5%;
	margin: 0 auto;
	height: 60%;
	max-width: 100%;
}

a#do-toggle-visualizer {
	position: fixed;
	top: 0;
	left: 90vw;
	transition: top 1s;

	&.hidden {
		top: -40px;
	}
}

@keyframes slideLeftIn {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}

@keyframes slideLeftOut {
	0% {
		left: 0;
	}
	100% {
		left: -50%;
	}
}
