body {
	margin: 0;
	background-color: #1E1E1E;
	overflow: hidden;
	font-family: avenir;

	a.main-controls {
		color: white;
		position: relative;
		padding: 10px;

		&:hover {
			color: #2ebd59;
		}

		&.active {
			color: #2ebd59;
			&:before {
				// -webkit-transform: scaleX(0.7);
				// transform: scaleX(0.7);
				// visibility: visible;
			}
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1.5px;
			bottom: 0;
			left: 0;
			background-color: white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}

		&:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(0.7);
			transform: scaleX(0.7);
		}
	}

	svg {
		color: white;

		&.back-button {
			position: absolute;
			left: 25px;
			top: 25px;
		}

		&:hover {
			stroke-width: 1;
			// color: white;
			stroke: #2ebd59;
			// opacity: 0.8;
		}
	}
}

::-webkit-scrollbar {
		display: none;
}

div {
	display: flex;
	align-items: start;
}

.root {
	position: absolute;
}

.visualizer-container {
	background-color: rgba(30, 30, 30, 0.8);
	position: fixed;
	height: 100vh;
	width: 40vw;
	top: 0;
	left: 100vw;
	transition: left ease-out .75s;
	border: thin solid white;

	&.active {
		left: 80%;
	}

	div.tracks-area {
		font-size: 0.8em;
		top: 10%;
		position: absolute;
		width: 100%;
		height: 45%;
		display: flex;
		flex-direction: row;
		border-top: thin solid white;
		border-bottom: thin solid white;
		color: white;
		font-weight: 50;
		overflow: scroll;

		.playlists-container {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 50%;
			transition: left 0.5s;

			&.inactive {
				left: -100%;
				animation: slideLeftOut 0.5s 1;
				animation-fill-mode: forwards;

				.playlist {
					// border-right: none;
				}
			}

			.playlist {
				width: 90%;
				height: 100%;
				padding-left: 10%;
				border: thin solid white;
				line-height: 50px;
				overflow: hidden;

				&:hover {
					opacity: 0.8;
					// font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

		.songs-container {
			width: 50%;
			left: 50%;
			position: absolute;
			display: flex;
			flex-direction: column;

			div.is-playing {
				color: #2ebd59;
			}

			&.active {
				animation: slideLeftIn 0.5s 1;
				animation-fill-mode: forwards;
			}

			.playlist {
				width: 90%;
				height: 50px;
				padding-left: 10%;
				border: thin solid white;
				line-height: 50px;
				overflow: hidden;
				color: white;


				&:hover {
					opacity: 0.8;
					// font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

	}

	.spotify-controls {
		position: absolute;
		width: 50%;
		height: 45%;
		top: 55%;

		button.music-controls {
			width: 75px;
			height: 75px;
			visibility: hidden;
			padding: 0;
			border: 0;
			margin: 1px;

			svg {
				visibility: visible;
			}
		}

		div.buttons-container {
			position: absolute;
			top: 70%;
			left: 10%;
		}
	}
}

img.album-artwork {
	z-index: -1;
	padding: 5%;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

a#do-toggle-visualizer {
	position: fixed;
	top: 0;
	left: 90vw;
	transition: top 1s;

	&.hidden {
		top: -40px;
	}
}

@keyframes slideLeftIn {
	0% {
		left: %100;
	}
	100% {
		left: 0;
	}
}

@keyframes slideLeftOut {
	0% {
		left: 0;
	}
	100% {
		left: -50%;
	}
}
