body {
	margin: 0;
	background-color: #1E1E1E;
	overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

div {
	display: flex;
	align-items: start;
}

.root {
	position: absolute;
}

.visualizer-container {
	background-color: #1E1E1E;
	position: fixed;
	height: 100vh;
	width: 60vw;
	top: 0;
	left: 100vw;
	transition: left ease-out .75s;
	border: thin solid white;
	opacity: 0.8;


	&.active {
		left: 70vw;
	}

	div.tracks-area {
		top: 50px;
		position: absolute;
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: row;
		border-top: thin solid white;
		border-bottom: thin solid white;
		color: #2ebd59;
		overflow: scroll;

		.playlists-container {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 50%;
			transition: left 0.5s;

			&.inactive {
				left: -100%;
				animation: slideLeftOut 0.5s 1;
				animation-fill-mode: forwards;

				.playlist {
					// border-right: none;
				}
			}

			.playlist {
				width: 90%;
				height: 100%;
				padding-left: 10%;
				border: thin solid white;
				line-height: 50px;
				overflow: hidden;

				&:hover {
					opacity: 0.8;
					font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

		.songs-container {
			width: 50%;
			left: 50%;
			position: absolute;
			display: flex;
			flex-direction: column;

			&.active {
				animation: slideLeftIn 0.5s 1;
				animation-fill-mode: forwards;
			}

			.playlist {
				width: 90%;
				height: 50px;
				padding-left: 10%;
				border: thin solid white;
				line-height: 50px;
				overflow: hidden;


				&:hover {
					opacity: 0.8;
					font-size: 1.1em;
					background-color: #515151;
					transition: all 0.3s;
				}
			}
		}

	}
}

@keyframes slideLeftIn {
	0% {
		left: %100;
	}
	100% {
		left: 0;
	}
}

@keyframes slideLeftOut {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
}
